MYSQL_ROOT_PASSWORD=change_me_please
MYSQL_DATABASE=language_exchange_platform
MYSQL_PORT=3306
BACKEND_PORT=8080
FRONTEND_PORT=80
APP_CORS_ALLOWED_ORIGIN_PATTERNS=*
SPRING_MAIL_HOST=smtp.example.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=no-reply@example.com
SPRING_MAIL_PASSWORD=change_me
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
APP_MAIL_FROM=no-reply@example.com
